pygame-ce==2.5.2
pyinstaller==6.11.0

# Linter
pycodestyle==2.12.0
pylint==3.3.4
mypy==1.15.0

# Utils
colorama==0.4.6
types-colorama==0.4.15.20240310

# Misc.
pre-commit==4.1.0
# python-dotenv==1.0.0
pyclean==3.1.0
